<header class="header">
    <div class="company-name">
      <h1>DropKart</h1>
      <p>We Deliver you happiness!</p>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li class="cart">
          <a href="#">
            <img src="../../../assets/image/shopping-bag.png">
            <span class="cart-count">3</span> <!-- Replace with your cart item count -->
          </a>
        </li>
      </ul>
    </nav>
  </header>
  